h1 {
    color: blue;
  }
  
  #roomList, #reservationForm {
    margin-bottom: 20px;
  }
  
  #roomItems li {
    margin-bottom: 10px;
  
  }
  h1 {
    color: #333333;
    text-align: center;
  }

  
  body {
    background-image: url(ilustracionhotelera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
